# Created by .ignore support plugin (hsz.mobi)
### Example user template template

# IntelliJ project files
.idea
*.iml
out
gen
*.iws
target/

# Mac
.DS_Store

# Maven
log/
*.class

# Package Files #
*.jar
*.war
*.ear
